<!DOCTYPE html>
<html>
<head>
<title>Gincana</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<% if (active == "rank" || active == "team") { %>
  <meta http-equiv="refresh" content="15">
<% } %>
</head>
<body class="bg2">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Gincana DIN - <strong> <%= name %></strong></a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <% if (active == "rank") { %> class="active" <% } %>>
          <a href="/room">Rank</a></li>
        <li <% if (active == "team") { %> class="active" <% } %>>
          <a href="/room/teams">Lista de times</a></li>
        <li <% if (active == "points") { %> class="active" <% } %>>
          <a href="/room/points">Adicionar pontos</a></li>

        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="jumbotron span12 container">

<% if (active == "rank") { %>

  <div class="page-header">
    <h1 class="text-center">Rank</h1> 
    </br>
  </div>

  <h3>Tempo de prova: <h3>
  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" 
      aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%= global.clock/36 %>%">
    </div>
  </div>

  <div class="col-md-6 jumbotron center-table" style="font-size:35px;">
    <table class="table table-striped span5">
      <thead>
        <tr>
          <th>#</th>
          <th>Time</th>
          <th>Pontos</th>
          <th>Tempo</th>
        </tr>
      </thead>
      <tbody>
      <% for (i in teams) { %>
        <tr>
          <td><%= parseInt(i)+1 %></td>
          <td><%= teams[i].name %></td>
          <td><%= teams[i].points %></td>
          <td><%= teams[i].time %></td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>

<% } else if (active == "team") {%>
  <% for (i in teams) { %>
  <div class="row" style="width:60%; margin: 0 auto">
    <div class="col-sm-20">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h3 class="panel-title"><%= teams[i].name %></h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% for (j in teams[i].members) { %>
            <li class="list-group-item"><%= teams[i].members[j].name %></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% } %>

<% } else if (active == "points") { %>
  
  <form class="form-inline" style="width: 80%;margin: 0 auto" 
                                        action="/room/points/add" method="post">
    <h2> Adicionar pontos! </h2> <br>
    <div class="form-group">
      <label for="teamName">Time: </label>
      <select class="form-control" name="teamName">
        <% for (i in teams) { %>
          <option><%= teams[i].name %></option>
        <% } %>
      </select>
    </div>

    <div class="form-group">
      <label for="points"> Quantidade de pontos: </label>
      <select class="form-control" name="points">
        <option>1</option>
        <option>2</option>
        <option>5</option>
      </select>
    </div>

    <button type="submit" class="btn btn-default">Enviar</button>

    </br>
    <% if (status != "ok") { %>
      <h2><span class="label label-warning"><%= status %></span></h2>
    <% } %>
  </form>
  

<% } %> 

</div>

<script src="/javascripts/jquery-2.1.3.min.js"></script> 
<script src="/javascripts/bootstrap.min.js"></script> 
</body>
</html>
